body {
	position: relative;
	font-family: sans-serif;
	overflow: hidden;
	display: none;
}

#radio {
    position: fixed;
	width: 367px;
	height: 795px;
	right: 7%;
	bottom: 37%;
}

#onoff {
	position: absolute;
	top: 102%;
	left: 105%;
	padding: 35px 35px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    outline: none;
}

#onoff .hovertext {
    position: absolute;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 4px;
    border-radius: 6px;
    z-index: 1;
}

#onoff:hover .hovertext {
    visibility: visible;
}

#volup {
	position: absolute;
	top: 100%;
	left: 65%;
	padding: 35px 17px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    outline: none;
}

#volup .hovertext {
    position: absolute;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 4px;
    border-radius: 6px;
    z-index: 1;
}

#volup:hover .hovertext {
    visibility: visible;
}

#voldown {
	position: absolute;
	top: 100%;
	left: 75%;
	padding: 35px 17px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    outline: none;
}

#voldown .hovertext {
    position: absolute;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 4px;
    border-radius: 6px;
    z-index: 1;
}

#voldown:hover .hovertext {
    visibility: visible;
}

.screen {
    display: none;
	position: absolute;
	background-color: #E3E3E3;
	top: 132%;
	left: 55%;
}

.screen input {
	text-align: center;
	border: none;
	background-color: #E3E3E3;
	padding: 25px 13.5px;
	font-size: 20px;
	outline: none;
}
